<a href="https://colab.research.google.com/github/HyeonhoonLee/NIPA2020/blob/main/NIPA2020_pre_multioutput.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import os
import tensorflow as tf

In [2]:
seed = 1234
BATCH_SIZE = 128

In [3]:
data_path = '/content/drive/My Drive/DataCollection/NIPA2020/'

In [4]:
# Data loading
train_df = pd.read_csv('/content/drive/My Drive/DataCollection/NIPA2020/train.tsv', sep='\t', names= ["file_name", "Plant", "Disease"])
train_df.head()

       file_name  Plant  Disease
0   3_5_1123.jpg      3        5
1  3_20_1048.jpg      3       20
2    4_2_401.jpg      4        2
3    4_7_740.jpg      4        7
4    4_11_93.jpg      4       11

In [5]:
train_df["Plant"].value_counts()

13    6400
4     2400
7     1600
3     1600
8     1600
5      800
11     800
10     800
Name: Plant, dtype: int64

In [6]:
# plantclasss = {7:13, 1:4, 4:7, 3:3, 0:8, 6:5, 5:11, 2:10}

In [7]:
train_df.Plant = pd.factorize(train_df.Plant)[0]

In [8]:
train_df["Plant"].value_counts()

7    6400
1    2400
4    1600
3    1600
0    1600
6     800
5     800
2     800
Name: Plant, dtype: int64

In [9]:
train_df["Disease"].value_counts()

20    3200
6     1600
9     1600
1     1600
15     800
7      800
14     800
5      800
11     800
18     800
2      800
17     800
16     800
8      800
Name: Disease, dtype: int64

In [10]:
train_df.Disease = pd.factorize(train_df.Disease)[0]

In [ ]:
# diseaseclasss = {1:20, 7:6, 6:9, 8:1, 13:15, 5:7, 12:14, 4:5, 11:11, 3:18, 10:2, 2:17, 9:16, 0:8}

In [11]:
train_df["Disease"].value_counts()

1     3200
7     1600
6     1600
8     1600
13     800
5      800
12     800
4      800
11     800
3      800
10     800
2      800
9      800
0      800
Name: Disease, dtype: int64

In [ ]:
# train_df['Plant'] = train_df['Plant'].astype(str)
# train_df['Disease'] = train_df['Disease'].astype(str)

In [ ]:
# train_df['label'] = list(zip(train_df.Plant, train_df.Disease))
# train_df.head()

In [ ]:
# train_df['label'].value_counts()

In [ ]:
# train_df.label = pd.factorize(train_df.label)[0]
# train_df.head(20)

In [ ]:
# label_to_factor = {(13,1):0, (3,20):1, (13,6):2, (4,11):3, (13,18):4, (4,7):5,
#                    (5,8):6, (8,9):7, (13,16):8, (10,20):9, (13,9):10, (8,6):11,
#                    (3,5):12, (11,14):13, (13,17):14, (7,1):15, (7,20):16, (13,15):17,
#                    (4,2):18, (13,20):19}

In [ ]:
# label_to_factor = {'(13,1)':0, '(3,20)':1, '(13,6)':2, '(4,11)':3, '(13,18)':4, '(4,7)':5,
#                    '(5,8)':6, '(8,9)':7, '(13,16)':8, '(10,20)':9, '(13,9)':10, '(8,6)':11,
#                    '(3,5)':12, '(11,14)':13, '(13,17)':14, '(7,1)':15, '(7,20)':16, '(13,15)':17,
#                    '(4,2)':18, '(13,20)':19}

In [ ]:
# train2_df = train_df.replace({"label":label_to_factor})
# train2_df.head()

In [ ]:
# train_df['label'].value_counts()

In [ ]:
# train_p_df = train_df.drop(['Disease'], axis=1)
# train_p_df.tail()

In [ ]:
# train_d_df = train_df.drop(['Plant'], axis=1)
# train_d_df.head()

In [13]:
from keras_preprocessing.image import ImageDataGenerator

In [14]:
from keras.layers import Dense, Activation, Flatten, Dropout, BatchNormalization, Input
from keras.layers import Conv2D, MaxPooling2D
from keras import regularizers, optimizers, Model

In [17]:
train_datagen = tf.keras.preprocessing.image.ImageDataGenerator(
        rescale=1./255,
        shear_range=0.2,
        zoom_range=0.2,
        rotation_range=15,
        width_shift_range=0.1,
        height_shift_range=0.1,
        horizontal_flip=True,
        validation_split=0.2
        )

In [18]:
train_generator=train_datagen.flow_from_dataframe(
  dataframe=train_df,
  directory="/content/drive/My Drive/DataCollection/NIPA2020/train",
  x_col="file_name",
  # y_col="label",
  y_col=["Plant","Disease"],
  subset="training",
  batch_size=BATCH_SIZE,
  seed=seed,
  shuffle=True,
  class_mode="raw",
  target_size=(128,128))

Found 12800 validated image filenames.

In [19]:
validation_generator=train_datagen.flow_from_dataframe(
  dataframe=train_df,
  directory="/content/drive/My Drive/DataCollection/NIPA2020/train",
  x_col="file_name",
  y_col=["Plant","Disease"],
  subset="validation",
  batch_size=BATCH_SIZE,
  seed=seed,
  shuffle=True,
  class_mode="raw",
  target_size=(128,128))

Found 3200 validated image filenames.

In [ ]:
# model = tf.keras.Sequential()
# model.add(Conv2D(64, (3, 3), padding='same',
#                  input_shape=(128,128,3)))
# model.add(Activation('relu'))
# model.add(Conv2D(64, (3, 3)))
# model.add(Activation('relu'))
# model.add(MaxPooling2D(pool_size=(2, 2)))
# model.add(Dropout(0.25))
# model.add(Conv2D(32, (3, 3), padding='same'))
# model.add(Activation('relu'))
# model.add(Conv2D(32, (3, 3)))
# model.add(Activation('relu'))
# model.add(MaxPooling2D(pool_size=(2, 2)))
# model.add(Dropout(0.25))
# model.add(Flatten())
# model.add(Dense(512))
# model.add(Activation('relu'))
# model.add(Dropout(0.5))
# model.add(Dense(18, activation='softmax'))

In [ ]:
# inp = Input(shape = (128,128,3))
# x = Conv2D(32, (3, 3), padding = 'same')(inp)
# x = Activation('relu')(x)
# x = Conv2D(32, (3, 3))(x)
# x = Activation('relu')(x)
# x = MaxPooling2D(pool_size = (2, 2))(x)
# x = Dropout(0.25)(x)
# x = Conv2D(64, (3, 3), padding = 'same')(x)
# x = Activation('relu')(x)
# x = Conv2D(64, (3, 3))(x)
# x = Activation('relu')(x)
# x = MaxPooling2D(pool_size = (2, 2))(x)
# x = Dropout(0.25)(x)
# x = Flatten()(x)
# x = Dense(512)(x)
# x = Activation('relu')(x)
# x = Dropout(0.5)(x)
# output1 = Dense(8, activation = 'sigmoid')(x)
# output2 = Dense(14, activation = 'sigmoid')(x)
# model = Model(inp,[output1,output2])

In [22]:
from keras.applications.densenet import DenseNet121
orig_model = DenseNet121(include_top=False, weights='imagenet', pooling='avg')
inp = Input(shape = (128,128,3))
x = orig_model(inp)
output1 = Dense(8, activation = 'sigmoid')(x)
output2 = Dense(14, activation = 'sigmoid')(x)
model = Model(inp,[output1,output2])
# output = Dense(20, activation='sigmoid')(x)
# model = Model(inp, output)

In [23]:
model.summary()

Model: "functional_3"
__________________________________________________________________________________________________
Layer (type)                    Output Shape         Param #     Connected to
==================================================================================================
input_4 (InputLayer)            [(None, 128, 128, 3) 0
__________________________________________________________________________________________________
densenet121 (Functional)        (None, 1024)         7037504     input_4[0][0]
__________________________________________________________________________________________________
dense_2 (Dense)                 (None, 8)            8200        densenet121[0][0]
__________________________________________________________________________________________________
dense_3 (Dense)                 (None, 14)           14350       densenet121[0][0]
==================================================================================================
Total params: 7,060,054
Trainable params: 6,976,406
Non-trainable params: 83,648
__________________________________________________________________________________________________

In [ ]:
# model.compile(optimizers.rmsprop(lr = 0.0001, decay = 1e-6),
# loss = ["binary_crossentropy","binary_crossentropy",,metrics = ["accuracy"])

In [24]:
loss = tf.keras.losses.SparseCategoricalCrossentropy(
    from_logits=False)
# loss = tf.keras.losses.CategoricalCrossentropy(
#     from_logits=False)

In [25]:
model.compile(optimizer='adam', 
              # loss = {"dense_1" : loss, "dense_2" : loss},
              loss = [loss, loss],
              metrics=[tf.keras.metrics.SparseCategoricalAccuracy()]
              # metrics='mae'
              )

In [26]:
checkpoint_path = os.path.join(data_path, 'weights_multi.h5')
checkpoint_dir = os.path.dirname(checkpoint_path)

# Create path if exists
if os.path.exists(checkpoint_dir):
    print("{} -- Folder already exists \n".format(checkpoint_dir))
else:
    os.makedirs(checkpoint_dir, exist_ok=True)
    print("{} -- Folder create complete \n".format(checkpoint_dir))
    
cp_callback = tf.keras.callbacks.ModelCheckpoint(
    checkpoint_path, monitor='val_accuracy', verbose=1, save_best_only=True, save_weights_only=True)

/content/drive/My Drive/DataCollection/NIPA2020 -- Folder already exists

In [27]:
def generator_wrapper(generator):
    for batch_x,batch_y in generator:
        yield (batch_x,[batch_y[:,i] for i in range(2)])
# def generator_wrapper2(generator):
#     for batch_x,batch_y in generator:
#         yield (batch_x,[batch_y[:,i] for i in range(1)])

In [ ]:
STEP_SIZE_TRAIN=train_generator.n//train_generator.batch_size
STEP_SIZE_VALID=validation_generator.n//validation_generator.batch_size

model.fit_generator(
    # generator=generator_wrapper(train_generator),
    train_generator,
                    steps_per_epoch=STEP_SIZE_TRAIN,
                  # validation_data=generator_wrapper(validation_generator),
                    # validation_steps=STEP_SIZE_VALID,
                    epochs=3,verbose=1
)

In [29]:
test_df = pd.read_csv('/content/drive/My Drive/DataCollection/NIPA2020/test.tsv', sep='\t', names= ["file_name"])
test_df.head()

  file_name
0     0.jpg
1     1.jpg
2     2.jpg
3     3.jpg
4     4.jpg

In [30]:
test_datagen = tf.keras.preprocessing.image.ImageDataGenerator(
        rescale=1./255)

In [31]:
test_generator=test_datagen.flow_from_dataframe(
  dataframe=test_df,
  directory="/content/drive/My Drive/DataCollection/NIPA2020/test",
  x_col="file_name",
  y_col=None,
  # subset="validation",
  batch_size=BATCH_SIZE,
  seed=seed,
  shuffle=False,
  class_mode=None,
  target_size=(128,128))

Found 3997 validated image filenames.

In [ ]:
STEP_SIZE_TEST=test_generator.n//test_generator.batch_size
test_generator.reset()
pred=model.predict_generator(test_generator,
  steps=100,
  verbose=1)

 32/100 [========>.....................] - ETA: 25sWARNING:tensorflow:Your input ran out of data; interrupting training. Make sure that your dataset or generator can generate at least `steps_per_epoch * epochs` batches (in this case, 100 batches). You may need to use the repeat() function when building your dataset.
 32/100 [========>.....................] - 12s 379ms/step

In [ ]:
pl = pred[0]
pl.shape

(3997, 8)

In [ ]:
dz = pred[1]
dz.shape

(3997, 14)

In [ ]:
# labellist = []
# for i in range(len(pred)):
#   answer = np.argmax(pred[i], axis=-1)
#   labellist.append(answer)
# len(labellist)

3997

In [ ]:
plantlist = []
for i in range(len(pl)):
  answer = np.argmax(pl[i], axis=-1)
  plantlist.append(answer)
len(plentlist)

3997

In [ ]:
diseaselist = []
for i in range(len(dz)):
  answer = np.argmax(dz[i], axis=-1)
  diseaselist.append(answer)
len(diseaselist)

3997

In [ ]:
test_df["Plant"] = plantlist
test_df["Disease"] = diseaselist

In [ ]:
plantclass = {7:13, 1:4, 4:7, 3:3, 0:8, 6:5, 5:11, 2:10}
diseaseclass = {1:20, 7:6, 6:9, 8:1, 13:15, 5:7, 12:14, 4:5, 11:11, 3:18, 10:2, 2:17, 9:16, 0:8}

In [ ]:
submit_df = test_df.replace({'Plant': {7:13, 1:4, 4:7, 3:3, 0:8, 6:5, 5:11, 2:10}})
submit2_df = submit_df.replace({'Disease': {1:20, 7:6, 6:9, 8:1, 13:15, 5:7, 12:14, 4:5, 11:11, 3:18, 10:2, 2:17, 9:16, 0:8}})
submit2_df.head()

  file_name  Plant  Disease
0     0.jpg      8        8
1     1.jpg      8       20
2     2.jpg      4       17
3     3.jpg      4       18
4     4.jpg      4        5

In [ ]:
submit2_df['Disease'].value_counts()

20    686
1     530
6     406
9     347
11    295
7     258
17    251
15    242
8     220
5     211
18    190
16    150
2     146
14     65
Name: Disease, dtype: int64

In [ ]:
# label_dic = {15:(13,1), 7:(3,20), 8: (13,6), 16:(4,11), 1:(13,18), 9:(4,7), 17:(5,8),
#              2:(8,9), 10:(13,16), 18:(10,20), 3:(13,9), 11:(8,6), 19:(3,5),
#              4:(11,14), 12:(13,17), 5:(7,1), 13:(7,20), 6:(13,15), 14:(4,2), 0:(13,20)}

In [ ]:
# test_df['Plant'] = labellist
# test_df['Disease'] = labellist
# test_df.head()

  file_name  Plant  Disease
0     0.jpg      0        0
1     1.jpg      1        1
2     2.jpg      2        2
3     3.jpg      3        3
4     4.jpg      4        4

In [ ]:
# train_df.head(20)

         file_name  Plant  Disease  label
0     3_5_1123.jpg      3        5      0
1    3_20_1048.jpg      3       20      1
2      4_2_401.jpg      4        2      2
3      4_7_740.jpg      4        7      3
4      4_11_93.jpg      4       11      4
5     5_8_2846.jpg      5        8      5
6        7_1_0.jpg      7        1      6
7    7_20_1394.jpg      7       20      7
8       8_6_41.jpg      8        6      8
9      8_9_683.jpg      8        9      9
10  10_20_1921.jpg     10       20     10
11  11_14_1571.jpg     11       14     11
12    13_1_461.jpg     13        1     12
13    13_6_533.jpg     13        6     13
14    13_9_145.jpg     13        9     14
15  13_15_1720.jpg     13       15     15
16   13_16_379.jpg     13       16     16
17   13_17_150.jpg     13       17     17
18  13_18_4099.jpg     13       18     18
19   13_20_187.jpg     13       20     19

In [ ]:
# plant_dic = {15:13, 7:3, 8: 13, 16:4, 1:13, 9:4, 17:5,
#              2:8, 10:13, 18:10, 3:13, 11:8, 19:3,
#              4:11, 12:13, 5:7, 13:7, 6:13, 14:4, 0:13}
plant_dic = {0:3, 1:3, 2:4, 3:4, 4:4, 5:5, 6:7, 7:7, 8:8, 9:8, 10:10, 11:11, 12:13, 13:13, 14:13, 15:13, 16:13, 17:13, 18:13, 19:13}

In [ ]:
# dz_dic = {15:1, 7:20, 8:6, 16:11, 1:18, 9:7, 17:8,
#              2:9, 10:16, 18:20, 3:9, 11:6, 19:5,
#              4:14, 12:17, 5:1, 13:20, 6:15, 14:2, 0:20}
dz_dic = {0:5, 1:20, 2:2, 3:7, 4:11, 5:8, 6:1, 7:20, 8:6, 9:9, 10:20, 11:14, 12:1, 13:6, 14:9, 15:15, 16:16, 17:17, 18:18, 19:20}

In [ ]:
submit4_df = test_df.replace({'Plant':plant_dic})
submit5_df = submit4_df.replace({'Disease':dz_dic})
submit5_df.head()

  file_name  Plant  Disease
0     0.jpg      3        5
1     1.jpg      3       20
2     2.jpg      4        2
3     3.jpg      4        7
4     4.jpg      4       11

In [ ]:
submit5_df.to_csv('/content/drive/My Drive/DataCollection/NIPA2020/submit.tsv', sep='\t', index=False, header=False)

In [ ]:
# tf.keras.models.save_model(
#     model, data_path)

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow/python/training/tracking/tracking.py:111: Model.state_updates (from tensorflow.python.keras.engine.training) is deprecated and will be removed in a future version.
Instructions for updating:
This property should not be used in TensorFlow 2.0, as updates are applied automatically.
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow/python/training/tracking/tracking.py:111: Layer.updates (from tensorflow.python.keras.engine.base_layer) is deprecated and will be removed in a future version.
Instructions for updating:
This property should not be used in TensorFlow 2.0, as updates are applied automatically.
INFO:tensorflow:Assets written to: /content/drive/My Drive/DataCollection/NIPA2020/assets

In [ ]:
model.save('/content/drive/My Drive/DataCollection/NIPA2020/my_model.h5')